@import url('http://fonts.cdnfonts.com/css/gill-sans');
@import url('https://fonts.googleapis.com/css2?family=Lato');
                

body {
  background-color: #5586e2;
  font-family: 'Gill Sans', sans-serif;
  /* font-family: 'Lato', sans-serif; */
  color: #fff;                                       
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7rem;
  background-color: #4369b2;
}

h1 {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 0.3rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 3vw;
}

.size {
  width: 15px;
  height: 15px;
}

.map-size {
  width: 20%;
}

.country-cont {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 5vw;
  gap: 10vw;
}

.region-link {
  position: absolute;
}

.region-link-icon {
  width: 20px;
  height: 20px;
}

.country-link {
  top: 0.5rem;
  right: 0.5rem;
}

.country-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 0.2rem;
  text-align: center;
}

.country-amount {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-bottom: 0.3rem;
}

.list-title {
  background-color: #35548b;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
  padding-top: 0.4rem;
}

.list-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #4164a6;
}

.region-cell:nth-child(4n),
.region-cell:nth-child(4n+1) {
  background-color: #4268af;  
}

/* .region-cell:nth-child(4n+2),
.region-cell:nth-child(4n+3) {
  background-color: #4164a6;
} */

.region-cell {
  position: relative;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.region-img {
  width: 80px;
  height: 80px;
  align-self: center;
  margin-bottom: 0.8rem;
}

.region-title {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.region-amount {
  font-family: 'Lato', sans-serif;
  font-size: 0.7rem;
  margin-bottom: 0.3rem;
}